@use "@common/scss/variables" as *;

.statistic__breadcrumbs {
  margin-top: -3px;
}

.statistic__breadcrumbs-list {
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.statistic__breadcrumbs-item {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.statistic__breadcrumbs-separator {
  color: #ccc;
  -webkit-user-select: none;
  user-select: none;
  margin: -2px 7px 0 6px;
  font-size: 24px;
}

.statistic__link {
  color: $color-primary;
  letter-spacing: 0;
  font-family: $font-main;
  font-size: 16px;
  text-decoration: none;
}

.statistic__link_back {
  color: #ccc;
}