@use "@common/scss/variables" as *;

.statistic {
  &__breadcrumbs {
    margin-top: 13px;
  }

  &__breadcrumbs-list {
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  &__breadcrumbs-item {
    align-items: center;
    display: flex;
    cursor: pointer;
  }

  &__breadcrumbs-separator {
    color: #ccc;
    -webkit-user-select: none;
    user-select: none;
    margin: -2px 7px 0 6px;
    font-size: 24px;
  }

  &__link {
    color: $color-primary;
    letter-spacing: 0;
    font-family: $font-main;
    font-size: 16px;
    text-decoration: none;

    &_back {
      color: #ccc;
    }
  }
}