@use "@common/scss/variables" as *;
@use "@common/scss/breakpoints" as *;

.header {
  color: $color-white;
  z-index: 10;
  background: $color-primary;
  align-items: center;
  gap: 20px;
  min-height: 72px;
  display: flex;
  top: 14px;
  left: 0;
  right: 0;

  &__logo {
    cursor: pointer;
    margin-bottom: 4px;
    font-size: 40px;
    transition-duration: .4s;

    &:hover {
      color: $color-hover-light;
    }
  }

  &_main {
    background: 0 0;
    position: absolute;
  }
}