@use "@common/scss/variables" as *;

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 23px auto 24px;

  &__page,
  &__arrow,
  &__ellipsis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: transparent;
    border: 2px solid $color-light-gray;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:disabled {
      border-color: $color-light-gray;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      border-color: $color-primary;
    }

    &.active {
      color: $color-white;
      background-color: $color-primary;
      border: none;

      &:hover {
        background-color: $color-dark;
      }
    }
  }

  &__arrow {
    border: none;

    .pagination__icon {
      display: block;
      transition: transform 0.2s ease, opacity 0.2s ease;
    }

    &:hover:not(:disabled) {
      .pagination__icon {
        transform: scale(1.1);
      }
    }

    &:first-child {
      &:not(:disabled) .pagination__icon {
        filter: invert(47%) sepia(48%) saturate(996%) hue-rotate(174deg) brightness(88%) contrast(84%);
        opacity: 1;
      }

      &:disabled .pagination__icon {
        filter: none !important;
        opacity: 1 !important;
      }
    }

    &:last-child {
      &:not(:disabled) .pagination__icon {
        filter: none;
        opacity: 1;
      }

      &:disabled .pagination__icon {
        opacity: 0.25 !important;
      }
    }
  }
}