@use "@common/scss/variables" as *;
@use "@common/scss/breakpoints" as *;

.wrapper_stat {
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  padding: 0;

  @include respond-to(desktop) {
    width: 1180px;
  }
}

.statistic {
  padding: 16px;
  width: 100%;
  box-sizing: border-box;

  @include respond-to(desktop) {
    padding: 20px 0 0;
  }

  &__title {
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 700;
  }
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  border-radius: 10px;

  @include respond-to(desktop) {
    overflow-x: hidden;
  }
}

.custom-table {
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 10px;
  width: 100%;
  font-family: $font-main;
  overflow: hidden;

  &__loading {
    text-align: center;
    padding: 40px 0;
    background-color: $color-white;
    font-weight: 500;
    color: $color-text-muted;
  }

  &__empty {
    text-align: center;
    padding: 20px 0;
    font-weight: 500;
    color: $color-text-muted;
  }

  & thead th {
    color: $color-white;
    text-align: center;
    background-color: $color-primary;
    border-right: 1px solid $color-white;
    height: 49px;
    padding: 11px 0;
    font-size: 16px;
    font-weight: 400;

    &:nth-child(2) {
      width: 151px;
    }

    &:nth-child(4) {
      width: 239px;
    }

    &:nth-child(3) {
      width: 133px;
    }

    &:nth-child(5) {
      width: 112px;
    }

    &:nth-child(6) {
      width: 147px;
    }

    &:nth-child(7) {
      width: 153px;
    }

    &:nth-child(8) {
      width: 181px;
    }
  }

  & tbody tr {
    background-color: $color-table-bg-1;

    &:nth-child(2n) {
      background-color: $color-light-gray;
    }
  }

  & tbody td {
    cursor: default;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    border-bottom: none;
    border-right: 1px solid $color-white;
    padding: 6.25px 0;
    font-size: 16px;
    line-height: 19.5px;
    overflow: hidden;

    &:nth-child(4) {
      text-align: start;
      padding: 6.25px 24px;
    }
  }
}

.progress-bar {
  background: linear-gradient(90deg, #3a80ba 0% 50%, #0000 100%) 0 0 / 200% 100%;
  border-radius: 10px;
  height: 5px;
  animation: 1.5s linear infinite loading;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@keyframes loading {
  0% {
    background-position-x: 0%;
  }

  to {
    background-position-x: -200%;
  }
}