@use "@common/scss/variables" as *;
@use "@common/scss/breakpoints" as *;

.footer {
  color: $color-white;
  background: $color-bg-dark;
  justify-content: space-between;
  align-items: center;
  min-height: 57px;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__logo {
  cursor: pointer;
  font-size: 24px;
  transition-duration: .1s;
}

.footer__logo:hover {
  color: $color-hover-light;
}

.footer__rights {
  font-size: 16px;
  font-weight: 400;
  display: none;
}

@include respond-to(desktop) {
  .footer__rights {
    display: inline;
  }
}

.footer__rights_reserved {
  margin-right: -12px;
}

.footer_main {
  background: 0 0;
  margin-bottom: 21px;
  position: absolute;
}

.footer_main .footer__logo {
  font-size: 32px;
}

.footer_main .footer__rights_reserved {
  margin-right: 35px;
}