@use "../common/scss/variables" as *;
@use "../common/scss/breakpoints" as *;

.header {
  color: $color-white;
  z-index: 10;
  background: $color-primary;
  align-items: center;
  gap: 20px;
  min-height: 72px;
  display: flex;
  top: 14px;
  left: 0;
  right: 0;
}

.header__logo {
  cursor: pointer;
  margin-bottom: 4px;
  font-size: 40px;
  transition-duration: .4s;
}

.header__logo:hover {
  color: $color-hover-light;
}

.header_main {
  background: 0 0;
  position: absolute;
}

.wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.page {
  background-color: $color-white;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  position: relative;
}

@include respond-to(desktop) {
  .page {
    width: 100%;
  }
}

.main {
  flex: 1;
  position: relative;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px;
}

@include respond-to(desktop) {
  .wrapper {
    width: 100%;
    padding: 0 130px;
  }
}

.wrapper_headline {
  position: relative;
}

.linear-progress {
  position: fixed;
  top: 72px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #cce3f5;
  overflow: hidden;
  z-index: 1000;
}

.linear-progress__bar {
  width: 100%;
  height: 100%;
  background-color: #3a80ba;
  animation: linearLoading 1.5s infinite ease-in-out;
  transform-origin: left-center;
}

@keyframes linearLoading {
  0% {
    transform: translateX(-100%) scaleX(1);
  }

  50% {
    transform: translateX(0%) scaleX(0.4);
  }

  100% {
    transform: translateX(100%) scaleX(1);
  }
}