@use "@common/scss/variables" as *;
@use "@common/scss/breakpoints" as *;

.headline {
  color: $color-white;
  background: url("data:image/svg+xml,%3csvg%20width='1440'%20height='655'%20viewBox='0%200%201440%20655'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M0%200H1440V104.272L1378.2%20217.493C1308.11%20345.888%201173.41%20425.778%201027.02%20425.778H894.837C810.446%20425.778%20728.218%20452.441%20659.915%20501.953L553.869%20578.824C404.575%20687.046%20200.558%20679.249%2059.9767%20559.948L0%20509.05V0Z'%20fill='url(%23paint0_linear_1_186)'/%3e%3cdefs%3e%3clinearGradient%20id='paint0_linear_1_186'%20x1='31'%20y1='68.7909'%20x2='1412.52'%20y2='119.271'%20gradientUnits='userSpaceOnUse'%3e%3cstop%20stop-color='%23255D8B'/%3e%3cstop%20offset='1'%20stop-color='%233A80BA'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e") 0% bottom/cover no-repeat;
  min-height: 655px;
  margin: 0 auto;
  padding: 140px 0;
  position: relative;
}

@include respond-to(desktop) {
  .headline {
    padding: 122px 0 0;
  }
}

.headline__content {
  max-width: 586px;
}

.headline__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 58.51px;
}

.headline__title b {
  font-weight: 700;
}

.headline__description {
  margin: 24px 0 31px;
  font-size: 20px;
  line-height: 28.4px;
}

.headline__button {
  color: $color-primary;
  text-transform: none;
  cursor: pointer;
  background-color: $color-white;
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 154px;
  height: 56px;
  padding-top: 1px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
}

.headline__button:hover {
  color: $color-white;
  background-color: $color-primary;
}

.headline__decoration {
  cursor: pointer;
  transition-duration: .5s;
  display: none;
  position: absolute;
  top: -50px;
  right: 187px;
}

@include respond-to(desktop) {
  .headline__decoration {
    display: block;
  }
}

.headline__decoration:hover {
  transform: rotate3d(1, 1, 1, 3deg);
}

.advantages {
  flex-direction: column;
  align-items: center;
  padding: 16px;
  display: flex;
}

@include respond-to(desktop) {
  .advantages {
    padding: 16px 130px 128px;
  }
}

.advantages__title {
  text-align: center;
  max-width: 500px;
  font-size: 32px;
  font-weight: 400;
}

.advantages__title b {
  font-weight: 700;
}

.advantages__description {
  text-align: center;
  color: $color-text-muted;
  max-width: 780px;
  margin: 24px 0 39px;
  font-size: 20px;
  line-height: 28.4px;
}

.advantages__advatage-cards {
  flex-direction: column;
  gap: 20px;
  display: flex
}

@include respond-to(desktop) {
  .advantages__advatage-cards {
    flex-direction: row;
  }
}

.advantages .advatage-card {
  cursor: pointer;
  border-radius: 32px;
  flex-direction: column;
  align-items: center;
  width: 380px;
  height: 323px;
  padding: 48px 32px;
  transition-duration: .5s;
  display: flex;
  box-shadow: 0 4px 16px #00000029
}

.advantages .advatage-card:hover {
  background-color: #cce3f5
}

.advantages .advatage-card__image {
  width: 106px;
  height: 96px
}

.advantages .advatage-card__title {
  margin: 40px 0 17px;
  font-size: 24px;
  font-weight: 600
}

.advantages .advatage-card__description {
  color: #7e7e7e;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.72px
}

.subscribe {
  background: url("data:image/svg+xml,%3csvg%20width='1440'%20height='183'%20viewBox='0%200%201440%20183'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M0%20183.465H1440V17.965C1440%2017.965%201362%2017.965%201296.5%206.46497C1231%20-5.03503%201071%20-1.18733%201023%2017.965%20975%2037.1173%20828.5%2086.965%20768%2086.965%20566.302%2086.965%20515.5%2034.965%20428.5%2034.965%20341.5%2034.965%20284%2048.965%20188%2074.465%2092%2099.965%200%2048.965%200%2048.965V183.465Z'%20fill='url(%23paint0_linear_1_187)'/%3e%3cdefs%3e%3clinearGradient%20id='paint0_linear_1_187'%20x1='31.0003'%20y1='258.787'%20x2='1400.16'%20y2='119.346'%20gradientUnits='userSpaceOnUse'%3e%3cstop%20stop-color='%23255D8B'/%3e%3cstop%20offset='1'%20stop-color='%233A80BA'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e") 0 0/cover;
  justify-content: center;
  padding: 26px 16px 93px;
  display: flex;
}

@include respond-to(desktop) {
  .subscribe {
    padding: 26px 0 93px;
  }
}

.subscribe__form {
  background-color: #fff;
  border: 1px solid $color-light-gray;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  width: 580px;
  height: 64px;
  padding: 4px 3px 4px 19px;
  transition: border .2s;
  display: flex;
}

.subscribe__form:hover {
  border: 1px solid $color-primary;
}

.subscribe__input {
  color: $color-text-main;
  background: 0 0;
  border: none;
  outline: none;
  flex: 1;
  height: 100%;
  font-family: $font-main;
  font-size: 16px;
}

.subscribe__input::placeholder {
  color: $color-text-muted;
  opacity: .7;
}

.subscribe__button {
  color: $color-white;
  text-transform: none;
  letter-spacing: .5px;
  cursor: pointer;
  background-color: $color-primary;
  border: none;
  border-radius: 8px;
  width: 176px;
  height: 56px;
  padding-top: 1px;
  font-size: 15px;
  font-weight: 400;
  transition: background-color .2s;
}

.subscribe__button:hover {
  background-color: $color-dark;
}