$color-primary: #3a80ba;
$color-dark: #255d8b;
$color-bg-dark: #1c3b55;
$color-text-main: #1a1a1a;
$color-text-muted: #7e7e7e;
$color-white: #fff;
$color-light-gray: #f1f1f1;
$color-hover-light: #cce3f5;
$color-table-bg-1: #fbfbfb;

$font-main: Montserrat, sans-serif;